# Application Port - KOA server listens on this port (default 3000).
PORT=3000

# Environment
NODE_ENV=development

SUBNET_URL=http://66.94.121.151:8545

MAINNET_URL=http://18.234.35.33:8545
SC_ADDRESS=0x122D02d11A682D05Da1cb701Fa659C16F58D96DA